body{
    background: #eee5e9;
    font-family: poloto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    text-transform:capitalize ;
    margin:70px 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}

/* section */

section::before{
    content: "";
    position: absolute;
    top: 44.6%;
    left: 45%;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background: rgba(0, 0, 0, 0.2);
}

section::before:hover{
    background: red;
}


section{
    background: #eee5e9;
    margin: 50px;
    width: 350px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    position: relative;
    transition: all transform .5s ease-in;
}

section:hover,
section:focus{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px rgba(0, 0, 0, 0.5);
}

/* content */

.content{
    text-align: center;
    padding: 20px;
}
 
.text{
    opacity: 0;
    transition: transform 1s linear;
    transform: translateY(-20px);
}

section:focus,
section:hover .text{
 transform: translateY(0);
    opacity: 1;
}


.content h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}

.content p{
    padding: 0 30px;
    margin-bottom: 30px;
    font-weight: 600;
    color: rgb(66, 66, 66);
}


/* button */

.content  button{
    padding: 10px 20px;
    width: 100%;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50px;
    border: none
}

.btn1{
    background: #aa0a07;
}
.btn2{
    background: #580372;
}
.btn3{
    background: #082842;
}


@media screen and (max-width: 1500px) {

    section{
        margin: 20px;
    }
}
@media screen and (max-width: 1200px) {

    .cards{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    section{
        margin: 30px;
    }
}
@media screen and (max-width: 700px) {

    .cards{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    section{
        margin: 20px;
        width: 270px;
    }

    section::before{
        content: "";
        position: absolute;
        top: 43.5%;
        left: 45%;
        width: 30px;
        height: 30px;
        transform: rotate(45deg);
        background: rgba(0, 0, 0, 0.2);
    }
    
    .content p{
        padding: 0 10px;
        margin-bottom: 30px;
        font-weight: 600;
        color: rgb(66, 66, 66);
    }
    
}

